{% extends "layout.html" %}
{% block title %}
About page
{% endblock %}
{% block main %}
<h3>About page</h3>
<span></span>
<h4>This is an implementation on the game bulls and cows made by Yani Enchev. </h4>
<span></span>
<p> 
  The game is simple. Both players choose a 4 digit number with different digits and the numbers can start with zero. The players take turns trying to guess their opponent's number before the opponent does the same. When a player submits their guess, they get a number of Bulls and Cows. For every Cow they get, that means that their guess has a digit that is also in their opponent's number, but it is in the wrong place. For every Bull they get, it means that not only is the digit in the opponent's number, but it is also in the correct place! Guess their number and win the game! 
</p>
{% endblock %}