{% extends "layout.html" %}
{% block script %}
{{ super() }}
<script>  
  document.addEventListener("DOMContentLoaded", function(){

    var socket = io.connect("http://127.0.0.1:5000");
    
    socket.on('game_link', function(data){
      window.location = data['url'];
      if (data['clipboard'] == true){
        navigator.clipboard.writeText(data['url']);
      }
    });

    let rankedgame = document.querySelector("#ranked");
    if (rankedgame){
      rankedgame.addEventListener("click", function(){
        // socket.emit('join_game', {game_type: ranked})
        alert("Ranked game!");
        socket.emit("join_ranked");
      });
    }
    
    let friendlygame = document.querySelector("#friendly");
    if (friendlygame){
      friendlygame.addEventListener("click", function(){
        alert("Friendly game!");
        socket.emit("join_friendly");
      });
    }
    
    let withfriend = document.querySelector("#with_friend");
    if (withfriend){
      withfriend.addEventListener("click", function(){
        alert("Game with a friend!");
        socket.emit("join_with_friend");
      });
    }
    
    var botgame = document.querySelector(".bot");
    if (botgame){
      botgame.addEventListener("click", function(){
        alert("Game with a bot!");
        socket.emit("join_bot");
      });
    }
  });


</script>
{% endblock %}
{% block title %}
  Index Page
{% endblock %}
{% block main %}

  <p class="spacer"></p>

  {% if session["user_id"] %}
    <div>
      <button class="btn btn-primary btn-light" id="ranked">Ranked Game</button>
    </div>
    <div>
      <button class="btn btn-primary btn-light" id="friendly">Friendly Game</button>
    </div>
    <div>
      <button class="btn btn-primary btn-light" id="with_friend">Game with a Friend<small class="tiny_letters">(Link for the game will be copied </small> <p class="tiny_letters">clipboard. Send the link to a friend and have them join your)</p></button>
    </div>
    <div class="centered">
      <button class="btn btn-primary btn-light big bot">Game with a bot</button>
    </div>

  {% else %}
    <div class="centered">
      <button class="btn btn-primary btn-light big bot">Game with a bot</button>
    </div>
    <div class="centered big">
      <h3>To get more play options create a free accout!</h3>
    </div>
  {% endif %}
  <p class="spacer"></p>
  
{% endblock %}

  <!-- <footer class="mb-5 small text-center text-muted">
    <a href="https://benjdd.com/courses/cs110/fall-2018/pas/bulls_and_cows/res/bulls_and_cows.png">IEX</a>
</footer> -->

  <!-- <div class="footer icon"></div> -->


</body>
</html>