{% extends "layout.html" %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>  
  document.addEventListener("DOMContentLoaded", function(){

    var socket = io.connect("http://127.0.0.1:5000");
    
    socket.on('game_link', function(data){
      window.location.replace(data['url']);

    });

    let rankedgame = document.querySelector("#ranked");
    if (rankedgame){
      rankedgame.addEventListener("click", function(){
        // socket.emit('join_game', {game_type: ranked})
        alert("Ranked game!");
        socket.emit("join_ranked");
      });
    }
    
    let friendlygame = document.querySelector("#friendly");
    if (friendlygame){
      friendlygame.addEventListener("click", function(){
        alert("Friendly game!");
        socket.emit("join_friendly");
      });
    }
    
    let withfriend = document.querySelector("#with_friend");
    if (withfriend){
      withfriend.addEventListener("click", function(){
        alert("Game with a friend!");
        socket.emit("join_withfriend");
      });
    }
    
    var botgame = document.querySelector("bot");
    if (botgame){
      botgame.addEventListener("click", function(){
        alert("Game with a bot!");
        socket.emit("join_bot");
      });
    }
  });


</script>
{% endblock %}
{% block title %}
  Index Page
{% endblock %}
{% block main %}

  <p class="spacer"></p>

  {% if session["user_id"] %}
    <div>
      <button class="btn btn-primary btn-light" id="ranked">Ranked Game</button>
    </div>
    <div>
      <button class="btn btn-primary btn-light" id="friendly">Friendly Game</button>
    </div>
    <div>
      <button class="btn btn-primary btn-light" id="with_friend">Game with a Friend</button>
    </div>

  {% else %}
    <div class="centered">
      <button class="btn btn-primary btn-light big" id="bot">Game with a bot</button>
    </div>
    <div class="centered big">
      <h3>To get more play options create a free accout!</h3>
    </div>
  {% endif %}
  <p class="spacer"></p>
  
{% endblock %}

  <!-- <footer class="mb-5 small text-center text-muted">
    <a href="https://benjdd.com/courses/cs110/fall-2018/pas/bulls_and_cows/res/bulls_and_cows.png">IEX</a>
</footer> -->

  <!-- <div class="footer icon"></div> -->


</body>
</html>