{% extends "layout.html" %}
{% block title %}
From
{% endblock %}
{% block main %}

  <form action="{{ url_for('reset_password', username=username, token=token) }}" method="post">
    <div class="mb-3">
      <input autofocus required type="password" class="form-control mx-auto w-auto" name="password" placeholder="New Password" id="password">
    </div>
    <div class="mb-3">
    <input required type="password" class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm New Password" id="confirm">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
{% endblock %}