{% extends "layout.html" %}
{% block title %}
  Forgotten Password
{% endblock %}
{% block main %}
  <h3 class="reset_form_center">
    Put the email your account is added to and we will send you a form to reset your password.
  </h3>
  <span></span>
  <form action="{{ url_for('reset_password_request') }}" method="post">
    <div class="mb-3">
      <input autofocus autocomplete="off" class="form-control mx-auto w-auto" name="email" placeholder="E-Mail Address" required type="text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}